<mat-card class="example-card">
  <mat-card-title>About App</mat-card-title>
  <mat-card-subtitle>Api Source</mat-card-subtitle>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam porro ea
      earum suscipit velit corrupti sit facere error reprehenderit blanditiis
      explicabo repudiandae quo illo ratione at, sequi dolorum deleniti. Et
      veritatis reprehenderit autem quasi molestiae possimus iusto atque rem
      praesentium.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-title>About Author</mat-card-title>
  <mat-card-subtitle>Emilia</mat-card-subtitle>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam porro ea
      earum suscipit velit corrupti sit facere error reprehenderit blanditiis
      explicabo repudiandae quo illo ratione at, sequi dolorum deleniti. Et
      veritatis reprehenderit autem quasi molestiae possimus iusto atque rem
      praesentium.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-title>How to use</mat-card-title>
  <mat-card-subtitle>Instruction</mat-card-subtitle>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt
      molestias quaerat labore quasi laboriosam, porro architecto dignissimos
      asperiores, illo harum illum sed? Id, fuga omnis, illo officia odio unde
      autem impedit magni dolor sequi voluptatibus error nemo quo est earum quam
      nam nesciunt odit? Suscipit aliquid odio sunt? Cupiditate error quidem
      consequatur repellat iste eos maxime perspiciatis quo suscipit
      voluptatibus?
    </p>
  </mat-card-content>
</mat-card>
