.details-link {
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mat-paginator {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  background: #93938b;
  color: white;
  font-weight: 500;
  font-size: 14px;
}
.center {
  margin: 10px auto;
  text-align: center;
}
