.center {
  margin: 10px auto;
  text-align: center;
}
.details-link {
  cursor: pointer;
}
.movie-box {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.title {
  color: white;
}
// materials
.mat-paginator {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  background: #93938b;
  color: white;
  font-weight: 500;
  font-size: 14px;
}
.mat-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  border-bottom: 1px solid #93938b;
  cursor: pointer;
}
